.categoriesHeader {
  background: #eeeeee;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 250px;
  // position: sticky;
  // z-index: 100;
  // top: 60px;

  p {
    color: #363636;
    font-weight: 500;
  }
}
