.checkout {
  padding: 0 100px;

  .checkout_header {
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(122, 122, 122, 0.185);
  }
  .main_checkoutSection {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
}
