.product {
  margin-top: 20px;
  width: 15rem;

  .product_top {
    position: relative;
    display: flex;
    flex-direction: column;

    .productImg {
      width: 100%;
      cursor: pointer;
    }
    button {
      position: absolute;
      width: 100%;
      bottom: 0;
      border: none;
      background-color: #363636e5;
      color: white;
      padding: 10px;
      cursor: pointer;
      outline: none;
      transition: padding 0.1s ease-out;

      &:hover {
        background-color: #363636f5;
        padding: 12px;
      }
    }
  }

  .product_bottom {
    margin-top: 10px;
    p {
      font-weight: 500;
      font-size: 14px;
    }

    .productPrice {
      margin-top: 5px;
    }
  }
}
